# Node.js and npm
node_modules/
npm-debug.log
yarn-error.log

# Next.js build output
.next/
out/

# IDE/Editor-specific files
# .vscode/
.idea/
*.iml

# macOS metadata files
.DS_Store

# Environment variables (if you're using .env files)
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# Log files
*.log

# Compiled files (if using TypeScript)
*.tsbuildinfo

# Dependency lock files
# yarn.lock
package-lock.json

# Cache directories
.cache/
.cache-loader/

# Prettier Setting
.prettierrc

public/robots.txt
public/google.xml
public/google2.xml
public/episode_info.xml