.arrowCard {
  display: flex;
  background-color: #A7A7A71A !important;
  padding: 2px;
  align-items: center;
  border-radius: 4px;
}

.radioOptionCard {
  display: flex;
  padding: 8px 18px 8px 18px;
  align-items: center;
  border-radius: 4px;
}

.selectedOptionCard {
  background-color: #0085E0 !important;
}

.unselectedOptionCard {
  background-color: #A7A7A71A !important;
  color: #9C9C9C !important;
}

.selectedOptionDetailsCard {
  color: #FFF !important;
}

.unselectedOptionDetailsCard {
  color: #9C9C9C !important;
}

.selectedOptionDropdownGroup {
  color: #0085E0 !important;
  background-color: #A7A7A71A !important;
  border-width: 0px;
}

.unselectedOptionDropdownGroup {
  background-color: #A7A7A71A !important;
  color: #9C9C9C !important;
}

.dropdownContainer {
  position: absolute;
  z-index: 10;
  top: 50px;
  border-radius: 4px;
  background-color: #171717 !important;
  /* border-color: #0085E0 !important; */
  border: 1px solid #A7A7A71A;
}

.primaryText {
  color: #FAC33D;
}

.vodMetaContainer {
  background-color: #1D2023 !important;
  padding: 8px 10px;
  border-radius: 12px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}