a {
  text-decoration: none !important;
}


.text-yellow-500
{
  color: #33a2f4 !important;
}


.text-yellow-hover
{
  color: inherit;
}

.text-yellow-hover:hover
{
  color: #33a2f4 !important;
}


.border-yellow-500 {
  border-color:  rgb(51, 162, 244) !important;
}


.hover-yellow:hover{
  /* color:  rgb(51, 162, 244) !important; */
  color:  rgb(51, 162, 244) !important;
  cursor: pointer;
}

a:hover {
  color: inherit !important;
  text-decoration: none !important;
}

.allow-select,
.allow-select * {
  user-select: text !important;
}

/* #00-85E0 --> #FAC33D */

.bg-theme
{
  background-color: #33a2f4 !important;
  background: #33a2f4 !important;
  color: black !important;
}


.btn-theme
{
  background-color: #33a2f4  !important;
  color: black !important;
}

.text-theme
{
  color: #33a2f4  !important;
}

.bg-theme-transparent
{
  background-color: #33a2f41f !important;
  background: #33a2f41f !important;
}
