.product_card_background_color {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.02) 100%);
}

.product_card_background_color.selected {
    background: linear-gradient(180deg, rgba(160, 110, 60, 0.2) 0.95%, rgba(255, 226, 188, 0.2) 100%);
}

.product_card_animation {
    animation: height 0.5s ease-in-out;
}
