.sub_header_container_color {
    background: linear-gradient(180deg, #FFDAA1 -43.06%, #A47952 100%);
}

.benefit_container_background_color {
    background: #2D2C2F
}

.benefit_container_border {
    background: linear-gradient(180deg, #BDA587 0%, #6E5136 100%);
    padding: 1px;
    border-radius: 12px;
}
