@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 570px !important;
  }
}

.light_theme * .movie-card {
  background-color: #fafafa !important;
}

.text-theme {
  font-weight: 600;
  color: #ffffff !important;
}

.light_theme * .text-theme {
  color: #000000 !important;
}

.light_theme > .zhuanti-list,
.light_theme > .body-scale,
.light_theme * .zhuanti-list,
.light_theme * .body-scale {
  background: #ffffff !important;
}

.dark_theme > .zhuanti-list,
.dark_theme > .body-scale,
.dark_theme * .zhuanti-list,
.dark_theme * .body-scale {
  background: rgba(20, 22, 26, 1) !important;
}

.play-img img {
  object-fit: cover;
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.1) 44%,
      rgba(0, 0, 0, 0.56) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  border-radius: 10px;

  padding: 0px !important;
  height: 179px !important;
  width: 128px;
  min-width: 128px;
  aspect-ratio: 5/7;
}

@media (max-width: 1024px) {
  .btn-warning {
    display: none;
  }
  .left-card {
    margin-right: 20px;
    padding-right: 0px;
    /* min-width: 170px !important; */
  }
  .right-card {
    padding-left: 0.15rem !important;
  }
  .right-card-content {
    padding: 0px !important;
    place-content: space-evenly;
    justify-content: center !important;
  }
  .vod-desc {
    padding-top: 18px !important;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 740px !important;
  }
}

@media (min-width: 640px) and (max-width: 790px) {
  /* Styles for screens with a width between 769px and 1024px and a height between 1367px and 1536px */
  .container {
    max-width: 600px !important;
  }

  .zhuanti-list > .container {
    max-width: 900px !important;
  }
}

@media (min-width: 800px) {
  .container {
    max-width: 800px !important;
  }
}

@media (min-width: 900px) {
  .container {
    max-width: 1200px !important;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1340px !important;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1450px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.zhuanti-list {
  /* min-height: 113.9vh; */
  padding-bottom: 140px !important;
}

#empty-card {
  display: none;
}

.mobile {
  display: block;
}
.desktop {
  display: block;
}

.bg-empty {
  max-width: 300px;
}

@media (min-width: 1466px) {
  .text-link,
  .fa-angle-right {
    font-size: 16px !important;
  }
}
@media only screen and (min-width: 769px) {
  /* For desktop phones: */
  .mobile {
    display: none !important;
  }

  .juqing {
    font-size: 16px;
  }

  .title-topic-name {
    font-size: 20px !important;
  }
  .vod-desc2 {
    min-height: 55px !important;
  }
  .zhuanti-list,
  .body-scale {
    zoom: 0.78;
  }

  .play-img img {
    border: 0px !important;
  }
  .topic-header {
    margin-top: 80px;
    margin-bottom: 10px;
  }

  .movie-card {
    background: #1d2023;
  }
  .left-card {
    position: relative;
    padding-left: 5px;
    padding-right: 10px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .desktop {
    display: none !important;
  }

  .img-card-wrap {
    position: relative;
    /* display: inline-block; */
    width: 120px;
    height: 180px;
    float: right;
  }

  .title-topic-name {
    font-size: 17px !important;
  }

  .play-img img {
    padding: 0px !important;
    height: 180px !important;
    width: 120px !important;
    min-width: 120px !important;
    border-radius: 10px !important;
    border: 0px solid #2f2f2f !important;
    float: right;
  }
  .zhuanti-list,
  .body-scale {
    zoom: 0.83;
  }

  .g_header2.mobile {
    zoom: 1.2048;
  }

  .zhuanti-con .play-txt h2 {
    height: 2rem !important;
    line-height: 1.25rem !important;
  }

  .bg-empty {
    max-width: 250px;
  }

  .vod-desc {
    padding-top: 12px !important;
  }

  .left-card {
    position: relative;
    margin-right: 5px;
    /* padding-left: 0px !important; */
  }

  .light_theme * .text-mobile-black {
    color: #000 !important;
  }

  /* .dark_theme * .text-mobile-black {
    color: #fff !important;
  } */

  @media (min-width: 640px) {
    #movie-card {
      padding-top: 140px !important;
    }
  }
} /* end mobile phone css */

.fa-play {
  color: #000 !important;
  padding-right: 2px;
}

.text-link,
.fa-angle-right {
  color: #fac33d !important;
}

.zhuanti-list .juqing {
  line-height: 0.75rem !important;
  min-height: 80px;
  color: #9c9c9c !important;
  cursor: default !important;
}

.movie-card {
  padding: 15px 5px 15px 12px;
  border-radius: 18px;
  display: flex;
  position: relative;
}

@media only screen and (max-width: 820px) and (min-width: 800px) {
  .left-card {
    padding-right: 15px;
  }
}

.zhuanti-list li {
  border: 0px !important;
  padding: 10px 15px 10px 0px !important;
  margin-top: 0px !important;
}

.detail-li {
  border: 0px !important;
  padding: 0.325rem 1rem !important;
  margin-top: 0px !important;
}

.zhuanti-list .play-txt h2 a {
  font-size: 20px !important;
  line-height: 1.25rem !important;
  height: 1.25rem !important;
}

.right-card-content {
  padding: 10px 5px 0px 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  height: 100%;
}

.zhuanti-con .play-txt h2 {
  font-size: 20pt !important;
  height: 1.175rem;
  line-height: 1rem;
  font-weight: 600 !important;
}

.font-25 {
  font-size: 25px !important;
}

.fa-chevron-right {
  font-size: 17px;
  /* padding-top: 2px; */
}

.cursor-default {
  cursor: default !important;
}

.cursor-pointer,
.pointer-cursor {
  cursor: pointer !important;
}

.hover-effect:hover {
  opacity: 0.9;
}

/* menu,
      ol,
      ul {
        min-height: 90vh !important;
      } */

.vodi-img {
  aspect-ratio: 5/7;
  width: 100%;
  object-fit: cover;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
  border-radius: 10px;
}

.vodi-wrap {
  width: 92%;
}

.full-width-img {
  width: 100% !important;
  height: auto !important;
}

/* topic details css */
.containerHeader {
  position: relative;
  width: 100% !important;
  max-width: 100% !important;
  height: 255px; /* Adjust the height as needed */
  background-image: url("./../../asset/image/topic-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.container-header-topic-bg {
  background-image: url("./../../asset/image/topic-bg.png");
}

.detail-desc {
  position: relative;
  top: 2px;
}

.overlay {
  /* position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px; */
  padding-bottom: 25px;
  /* background-color: rgba(
    0,
    0,
    0,
    0.5
  );  */
  color: #fff; /* Adjust the overlay text color as needed */
}

.overlay h1 {
  font-size: 24px;
  margin: 0;
}

.overlay p {
  font-size: 14px;
  margin: 5px 0 0;
}

.detailsTitle {
  font-size: 34px;
  padding-bottom: 10px;
  color: #ffffff;
  font-weight: 600;
  padding-left: 6px;
}

.details-desc {
  color: rgba(255, 255, 255, 0.68);
  font-weight: 600;
  padding-left: 8px;
}

.text-warning {
  color: #fac33d !important;
}

.zhuanti-con {
  display: flex;
  justify-content: space-between;
  min-height: 91.45vh;
  padding-bottom: 20px !important;
}

.dark_theme .zhuanti-con {
  background: rgba(20, 22, 26, 1) !important;
}

.vod-count {
  padding-top: 20px;
  padding-bottom: 5px;
  color: #ffffff;
  width: 100%;
}

.vod-desc {
  padding-top: 8px;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  color: #9c9c9c !important;
  font-size: 14px !important;
  line-height: 20px !important;
  cursor: default !important;
}

.vod-desc2 {
  word-break: break-all;
}

.btn {
  font-size: 14px !important;
}

.btn-warning {
  background: #fac33d !important;
  border-radius: 50px !important;
  padding: 5px 16px !important;
  margin-top: 10px;
  color: #000 !important;
}

.g_header2.mobile {
  /* background: linear-gradient(
    3.15deg,
    #161616 14.5%,
    rgba(0, 0, 0, 0) 56.17%
  ) !important;
  backdrop-filter: blur(11px) !important;
  background-color: none !important; */

  background: rgba(20, 22, 26, 1) !important;
  padding-top: 0.5rem !important;
  padding-bottom: 3.55rem !important;
}

.g_header2.mobile a {
  top: auto;
}

.fa-angle-left {
  width: 1rem;
  /* height: 1rem;
  float: left;
  margin: 10px 0.17rem 0 4%; */
  font-size: 18pt;
}

.mobile-header {
  line-height: 1.4rem;
  text-align: left;
  margin-top: 17px;
  margin-bottom: 5px;
}

.right-card {
  padding-left: 0.25rem;
  padding-right: 0rem;
}

.badge-desktop {
  position: absolute;
  top: 0px;
  right: 0px;
  width: fit-content;
  max-width: 165px;
  height: 36px;
  background: rgba(20, 22, 26, 1) !important;
  color: white !important;
  border-radius: 0px !important;
  border-bottom-left-radius: 0.25rem !important;
  border-top-right-radius: 10px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 13px;
  font-weight: 400;
  padding-left: 10px !important;
  padding-right: 10px !important;
  text-align: center;
}

.badge-mobile {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: fit-content;
  background: #000 !important;
  color: white;
  border-radius: 0px !important;
  border-bottom-left-radius: 0.25rem !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 11px;
  font-weight: 400;
  padding: 0px 5px;
}

/* for search result page */
.sub-title {
  color: rgba(255, 255, 255, 0.68);
  font-size: small;
}

.footer-container {
  padding-top: 50px;
  display: none;
  position: relative;
  bottom: 40px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  /* Adjust the height as needed */
  background-color: transparent;
  /* min-height: 100vh; */
  color: #6b6b6b !important;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.topic-header * .head-topic-title {
  font-weight: 700 !important;
  font-size: 20px !important;
  color: #fac33d !important;
  /* padding-top: 2px; */
}

@media (max-width: 767px) {
  .topic-header * .ys_menuNavLeft {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
  }

  .topic-header * .ys_nav_logo,
  .topic-header * .ys_menuNavIcons_mobile {
    width: 48px !important;
    font-weight: 700 !important;
    font-size: 20px !important;
  }

  .topic-header * .ys_menuNavComponents {
    display: flex !important;
    align-items: center !important;
  }

  .topic-header * .ys_nav_search_mobile {
    flex-grow: 1;
  }
  .topic-header * .ys_nav_search_mobile img {
    width: 1.5em !important;
  }

  .topic-header * .ys_nav_search_mobile_input {
    padding: 0.6em 1.2em 0.6em 3.2em !important;
    font-size: 13px !important;
  }
}

.topic-header * .ys_menuNavComponents {
  display: flex !important;
  align-items: center !important;
}

.topic-header * .ys_menuNavComponents .ys_menuNavIcons_mobile {
  margin-left: auto !important;
}

.spinner-container {
  display: flex;
  justify-content: center !;
}

.spinner-container > img {
  width: 110px;
  padding-top: 90px;
  margin: 0 auto;
}

.title-topic-name {
  font-weight: 600 !important;
}

.right-card-content {
  display: flex;
  flex-direction: column;
  height: 100%; /* Assuming the parent container has a height set */
}

.flex-end-link {
  margin-top: auto;
  margin-bottom: 15px;
}

.flex-end-btn {
  margin-top: auto;
  margin-bottom: 10px;
}

.flex-top-link {
  margin-bottom: 2.5px;
  margin-top: 0px;
}

.mobile-topic-desc {
  font-size: 13px !important;
  line-height: 20px !important;
  margin-bottom: 10px;
  color: #9c9c9c !important;
}

.mobile-title-custom {
  font-size: 14px !important;
  font-weight: 400 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-desc {
  font-size: 13pt !important;
  line-height: 20pt !important;
}


@media (min-width: 1466px) and (max-width: 1600px){
.pl-lg-2
{
    padding-left: 12px !important;
}
}



@media (min-width: 800px) and (max-width: 850px) and (min-height: 800px) and (max-height: 850px) {
  .left-card {
    margin-right: 48px !important;
    padding-right: 0px !important;
    /* min-width: 170px !important; */
  }
}

.details-header * .fa-angle-left {
  height: auto !important;
  float: none !important;
  margin: 0 !important;
}

.result-header * .fa-angle-left {
  margin: 0px 10px 1px 5px !important;
  font-size: 14pt;
}
.result-header * .fys_nav_search_mobile {
  padding-right: 5px;
}

.result-header * .ys_nav_search_mobile img {
  width: 1.6em;
}

/* [type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  width: 10px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%239C9C9C' width='24' height='24'%3E%3Cpath d='M19.8 18.4L14.4 12l5.4-6.4c.4-.5.4-1.2 0-1.7l-.7-.8c-.5-.5-1.2-.5-1.7 0L12 10.6 6.4 5.2c-.5-.4-1.2-.4-1.7 0l-.8.7c-.5.5-.5 1.2 0 1.7l5.4 6.4-5.4 6.4c-.4.5-.4 1.2 0 1.7l.7.8c.2.2.5.3.8.3s.6-.1.8-.3l5.6-6.6 5.6 6.6c.2.2.5.3.8.3s.6-.1.8-.3l.7-.8c.5-.5.5-1.2 0-1.7z'/%3E%3C/svg%3E");
  background-size: 10px 10px;
} */

.vod-list-wrap {
  margin: 0 auto;
}

@media (max-width: 550px) {
  .vod-list-wrap {
    max-width: 490px;
  }
}

/* .g_header .ys_nav_search_mobile img {
  top: 25% !important;
} */
.topic-header * .ys_nav_search_mobile_img,
.result-header * .ys_nav_search_mobile_img {
  position: absolute !important;
  left: 10px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.topic-card {
  padding: 10px 5px 12px 20px;
  border-radius: 18px;
  display: block;
  position: relative;
  background: #1d2023;
}

.topic-card:hover {
  opacity: 0.9 !important;
  position: relative;
  bottom: 1px;
}

/* @media (min-width: 1024px) {
  #movie-card * .lg\:col-span-10 {
    min-width: 1420px;
  }
} */

#desktop-container {
  margin-right: calc(var(--bs-gutter-x) * -1.5) !important;
  margin-left: calc(var(--bs-gutter-x) * -0.6) !important;
}

.vod-list-wrap > .row {
  margin-right: calc(var(--bs-gutter-x) * -0.86) !important;
  margin-left: calc(var(--bs-gutter-x) * -0.7) !important;
}

.desktop .pb-24 {
  padding-bottom: 0px !important;
  z-index: 12;
}

@media (max-width: 1280px) {
  .pl-md-1 {
    padding-left: 0.2rem !important;
  }
}

.mobile-title-bar {
  display: flex;

  align-items: center; /* Vertically center the item */
  height: 100%;
  justify-content: space-between;
}

/* .movie-card .col-3 {
  width: min-content;
} */

.zhuanti-con > .grid {
  width: 100%;
}

@media (max-width: 414px) {
  .zhuanti-con * .right-card-content {
    margin-left: 10px;
    margin-right: 10px;
  }
  .left-card {
    margin-left: 5px;
    margin-right: 5px;
  }

  .movie-card {
    padding: 15px 5px 15px 5px !important;
  }

  .detail-li {
    padding: 0.325rem 0.5rem !important;
  }
}

@media (max-width: 375px) {
  .left-card {
    /* margin-right: 48px !important; */
    padding-right: 0px !important;
    margin-right: 5px !important;
    /* min-width: 170px !important; */
  }

  .zhuanti-con * .right-card-content {
    margin-left: 10px !important;
    margin-right: 30px !important;
  }

  .right-card {
    padding-left: 0rem !important;
  }
}

.movie-card > .col-3 {
  width: min-content !important;
}

/* .movie-card-wrap {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
}

.card-content-wrap {
  display: flex;
  align-items: center;
  padding: 0px;
} */

.left-side {
  flex: 0 0 auto; /* Let it take the minimum width */
}

.right-side {
  flex: 1 1 auto; /* Let it take up all available space */
}

.fa-chevron-right {
  line-height: 1.5 !important;
}
